body{
    margin:0;
    padding:0;
    width:100%;
    height: 100vh;
}

img, section, main, p{
    padding:0;
    margin:0;
}

main{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-top:50px;
}

.All-Image-Details{
    width: 400px;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(237, 228, 228);
    margin-bottom:20px;
    font-size: 20px;
    border-radius: 5px;
    overflow: auto;
}

.Image-Details-Img{
    border-radius:50%; 
    width:50px; 
    height:50px;
    min-width: 50px; 
    margin-left: 10px;
    object-fit: cover;
}

.Image-Details-Label{
    margin-left: 10px;
    font-size: 16px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 0;
    height:80%;
}

#Image{
    width: 400px;
    height: 600px;
    border-radius: 10px;
    object-fit: cover;
    transition: transform .3s;
}
  
#Image:hover {
    transform: scale(1.01); 

}


.selectedImg{
    background-color:lightblue;
}

#Image-Area{
    margin-left: 20px;
    width: 400px;
}

@media screen and (max-width: 900px) {
    main{
        flex-direction: column;
        align-items: center;
    }

    #Image-Area{
        margin-left: 0px;
        margin-top: 30px;
    }
  }